 
* {

	background-image: none;
}

window {
	background: rgba(0, 0, 0, 0.5);
}

button {
	font-family: 'Material Symbols Outlined';
	font-size: 10rem;
	background-color: rgba(11, 11, 11, 0.4);
	text-decoration-color: #ffffff; 
	color: #FFFFFF;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 4rem;
	margin-right: 4rem;
	border-radius: 4rem;
	padding: 3rem;
}

button:focus,
button:active,
button:hover {
	background-color: rgba(51, 51, 51, 0.5);
	border-radius: 4rem;
}
